@mixin getRevenueStyles() {
    .revenue{
        height: 100%;
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        background-color: black;
        @include getTytleStyles();
        .graph{
            height: 80%;
        }
    }
}