@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  background: rgb(34,21,21);
  background: linear-gradient(323deg, rgba(34,21,21,1) 0%, rgba(88,14,18,1) 100%);
  font-family: "Lato", sans-serif;

}

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}